<rect rx="3" width="{{badge.width}}" height="{{badge.height}}" fill="#555" />
<rect rx="3" x="{{badge.subjectWidth}}" width="{{badge.statusWidth}}" height="{{badge.height}}" fill="{{badge.colour}}" />
<path fill="{{badge.colour}}" d="M{{badge.subjectWidth}} 0h4v{{badge.height}}H{{badge.subjectWidth}}z" />
<rect rx="3" width="{{badge.width}}" height="{{badge.height}}" fill="url(#smt-bg)" />
<g fill="#fff" text-anchor="middle" font-family="{{badge.fontFamily}},Verdana,Geneva,sans-serif" font-size="{{badge.fontSize}}">
    <text x="{{badge.subjectX}}" y="{{badge.textShadowY}}" fill="#010101" fill-opacity=".3">{{badge.subject}}</text>
    <text x="{{badge.statusX}}" y="{{badge.textShadowY}}" fill="#010101" fill-opacity=".3">{{badge.status}}</text>
    {{>badge-text}}
</g>