<svg id="smt-svg" xmlns="http://www.w3.org/2000/svg" width="{{badge.width}}" height="{{badge.height}}">
    <linearGradient id="smt-badge-gradient" x2="0" y2="100%">
        <stop offset="0" stop-color="#bbb" stop-opacity=".1" />
        <stop offset="1" stop-opacity=".1" />
    </linearGradient>
    <mask id="smt-badge-subject-rectangle-mask">
        <rect id="smt-badge-subject-rectangle" width="{{badge.width}}" height="{{badge.height}}" rx="3" fill="#fff" />
    </mask>
    <g mask="url(#smt-badge-subject-rectangle-mask)">
        <path id="smt-badge-subject-path" fill="#555" d="M0 0h{{badge.subjectWidth}}v{{badge.height}}H0z" />
        <path id="smt-badge-status-path" fill="{{badge.colour}}"
              d="M{{badge.subjectWidth}} 0h{{badge.statusWidth}}v20H{{badge.subjectWidth}}z" />
        <path id="smt-badge-gradient-path" fill="url(#smt-badge-gradient)" d="M0 0h{{badge.width}}v20H0z" />
    </g>
    <g id="smt-badge-text-container" fill="#fff" text-anchor="start"
       font-family="{{badge.font}},Verdana,Geneva,sans-serif" font-size="{{badge.fontSize}}">
        <text id="smt-badge-subject" x="{{badge.subjectX}}" y="{{badge.subjectY}}">{{badge.subject}}</text>
        <text id="smt-badge-status" x="{{badge.statusX}}" y="{{badge.statusY}}">{{badge.status}}</text>
    </g>
    <script type="text/javascript">{{{badge.javaScript}}}</script>
</svg>